<div class="sidebar_nav">
  <ul>
    <li class="sidebar_item">
      <i class="fa-solid fa-house"></i>
      <a href="/">
        Home
      </a>
    </li>
    <% if (locals.user && !locals.file) { %>
      <li class="sidebar_item">
        <i class="fa-solid fa-upload"></i>
        <a href="<%= undefined === locals.folder ? '/upload' : `upload/${locals.folder.id}` %>">
          Upload a file
        </a>
      </li>
      <li class="sidebar_item">
        <i class="fa-solid fa-folder-plus"></i>
        <a href="<%= undefined === locals.folder ? '/folder/create' : `create/${locals.folder.id}` %>">
          Create a folder
        </a>
      </li>
    <% } %>
  </ul>
</div>