<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <%- include('./partials/sidebar_nav.ejs') %>
  
  <main>
    <header>
      <h1><%= title %></h1>
    </header>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="form_row">
        <label for="file">File</label>
        <input type="file" name="file" id="file">
      </div>
      <button type="submit">Submit</button>
    </form>

    <br>
    <%- include('./partials/error.ejs') %>
  </main>
</body>
</html>